<br>
<a href="/" class="btn btn-primary">Atras</a>
<br>
<br>
<br>
<form action="/compras/nueva" method="POST">
    <input type="text" name="_id" value="{{compra._id}}" hidden>    

    <div class="form-group">
        <label for="categoria">Categoria:</label>
        <select name="categoria" id="categoria" class="form-control">
            {{#each categorias}}
                <option value="{{this.nombre}}">{{this.nombre}}</option>
            {{/each}}
        </select>
    </div>

     <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input class="form-control" type="text" name="nombre", id="nombre" value="{{compra.nombre}}">
    </div>

     <div class="form-group">
        <label for="precioEstimado">Precio Estimado:</label>
        <input class="form-control" type="number" name="precioEstimado", id="precioEstimado" value="{{compra.precioEstimado}}">
    </div>

    <button class="btn btn-block btn-success" type="submit">Guardar</button>
</form>