<div class="">
    <br>
    <h1>Shopping List</h1>
    <br>
    <a class="btn btn-primary" href="/shoppingList/new">New Shopping List Item</a>
    <br>
    <br>
    <br>
    <table class="table table-strip">
        <thead>
            <tr>
                <td>Category</td>
                <td>Name</td>
                <td>Estimated Price</td>
                <td colspan="2">
                    <select name="category" id="category" class="form-control"
                        onchange="if (this.selectedIndex) window.location='/' + this.value">
                        <option value="-1">Select a Filter...</option>
                        {{#each categories}}
                        <option value="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
        </thead>
        <tbody>
            {{#each shoppingList}}
            <tr>
                <td>{{this.category}}</td>
                <td>{{this.name}}</td>
                <td>${{this.estimatedPrice}}</td>
                <td><a href="/shoppingList/update/{{this._id}}">Modify</a></td>
                <td><a href="/shoppingList/remove/{{this._id}}">Delete</a></td>
            </tr>
            {{/each}}
            <tr>
                <td><strong>Items: {{total}}</strong></td>
                <td colspan="4"><strong>Total Estimated Price: ${{totalEstimatedPrice}}</strong></td>

            </tr>
        </tbody>
    </table>
</div>